body {
    overflow-x: hidden;
}

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
}

label {
    font-weight: bolder;
}

.grayscale {
    filter: grayscale(100%);
  }

.container .border {
    border-radius: 10px;
    background-color: skyblue;
}

.instruction {

    width: 800px;
    display: flex;
    text-align: justify;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
}

table tbody tr td img {

    vertical-align: top;
}


table tbody tr td button {

    margin: 30px;
    margin-top: 200px;
    margin-left: -160px;

}

table tbody tr .sign button {

    margin: 30px;
    margin-top: 150px;
    margin-left: -220px;

}

@media (max-width:768px) {
    .instruction {
        width: 40%;
        display: flex;
        text-align: justify;
        justify-content: center;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    table tbody tr .photograph img {
    
        vertical-align: top;
        margin-left: 200px;
        
    }
    
    
    table tbody tr .photograph button {
    
        margin: 30px;
        margin-top: 10px;
        margin-left: 200px;
    
    }
    
    table tbody tr .sign button {
    
        margin: 30px;
        margin-top: 150px;
        margin-left: -220px;
    
    }
}